<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Bernini Web Shop</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/shoes.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/d35829250a.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/buyshoes/">Bernini Web Shop</a></h1>
        </div>
        <div class="content container">
             <div class="row">
	            {% block content %}
	            {% endblock %}
            </div>
        </div>
    </body>
</html>